
<h2 class="text-center page-header">{{model.name}}</h2>

<div class="row">
  <div class="col-md-4">

    {{model.pod.name}}
    {{model.pod.address}}
    {{debugger}}
  </div>

  <div class="col-md-4 col-md-offset-2">
    {{google-maps address=model.pod.address}}
  </div>
</div>
